@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
*{
	padding: 0px;
	margin: 0px;
}
body{
	background-image:url(../img/music.webp);
	background-repeat: no-repeat;
	background-size:100vw 100vh;
	background-attachment: fixed;
}
section.cabecalho img{
	height: 40px;
	margin-left: 80%;
}

section.cabecalho div h1:hover #menu{
	display: block;
}
section.cabecalho h1{
	color: darkred;
	text-align: center;
	font-family: "Honk", system-ui;
	font-size: 5em;
	background:linear-gradient(black,orange);
}
section.conteudo div h2{
	text-indent: 5%;
	width: 100%;
	background:linear-gradient(orange, transparent);
	text-align: center;
}
#video{
	width: 100%;
	height: 10%;
	background-color: transparent;
}
#video video{
	width: 50%;
	height: 20%;
	margin: 1%;
	margin-left: 30%;
}
section.conteudo div p{
	color: black;
	font-size: 25px;
	text-indent: 5%;
	background:linear-gradient(transparent, orange);
	width: 100%;
	height: 100%;
}
section.fim{
	width: 100%;
	height: 100px;
	background:linear-gradient(orange, black);
	flex-direction: column;
	text-align: center;
}
section.fim div a{
	color: blue;
	font-size: 30px;
}
section.fim div:hover a{
	color: black;
}
section.fim div:hover{
	background-color: indianred;
	border-radius: 20px;
	margin-left: 40%;
	width: 20%;
}
#menu{
	position: fixed;
	display: none;
	background-color: black;
	width: 40px;
	height: 40px;
	margin-left: 85vw;
	font-family: "Arial";
	font-size: 12pt

}